
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  height: 200vh;
  padding: 0;
  color: #333;
  overflow-x: hidden;
}

.menu-title {
  font-size: 40px;
  font-weight: 900;
  color: #FFF59A;
  font-family: 'Arial Black', sans-serif;
  letter-spacing: 1px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 10px;
  margin-left: 2%;
}

header {
  background-color: rgba(221, 235, 244, 0.7); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  display: flex;
  align-items: center; 
}


.menu {
  list-style: none;
  margin: 0 auto; 
  padding: 0 40px;
  display: flex;
  justify-content: flex-end;
  gap: 40px; 
  flex: 1;
}

.menu li {
  position: relative;
}

.menu > li > a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #545454;
  transition: all 0.2s ease;
}


.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #eaf4fb;
  opacity: 0.7;
  list-style: none;
  margin: 0;
  padding: 0;
  min-width: 200px;
  border-radius: 4px;
  text-align: center;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease;
}

.dropdown:hover .dropdown-menu {
  display: block;
}


.menu li a:active {
  text-shadow: 2px 2px 3px #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.pink-bg {
  background-color: #F7DDE8;
  padding: 40px 0 ;
}

section, footer {
  padding: 40px 20px;
  max-width: 100%;
  margin: auto;
  background-size: cover;
  overflow-x: hidden;
}


.main-title {
  font-size: 60px;
  font-weight: 900;
  color: #FFF59A;
  font-family: 'Arial Black', sans-serif;
  letter-spacing: 1px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 10px;
}

.ribbon {
  display: inline-flex;
  background: white;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  box-shadow: 2px 2px 0 black;
  width: fit-content;
  white-space: nowrap; 
}

.main-visual {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 5%;
}

.profile-photo {
  width: 100%;
  display: flex;
  margin-top: 50px;
  flex-shrink: 0;
  max-width: 600px;
  height: auto;
  margin-right: 100px;
}

.text-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pink-bg2 {
  background-color: #F8E8EF;
  padding: 40px 0;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  flex-direction: row; 
}

.profile-image img {
  width: 600px;
  max-width: 1000px;
  margin-left: 0; 
}

.profile-text {
  max-width: 600px;
  text-align: left;
  font-size: 16px;
  line-height: 1.8;
}

.section-block {
  margin-bottom: 40px;
}


.profile-heading {
  font-size: 30px;
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: 10px;
}

.furigana {
  font-size: 12px;
  margin-left: 79px;
  margin-bottom: -10px;
}

.name {
  font-weight: normal;
  white-space: nowrap;
  margin-left: 0px;
  font-size: medium;
}

.row-align {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.label {
  font-weight: bold;
  font-size: 20px;
  white-space: nowrap;
  margin-right: 5px; 
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin: 0; 
  line-height: 1.5;
}

.like-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.like-list li {
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
  line-height: 1.5;
}

.like-words {
  margin-left: -20px;
  line-height: 1.5;
  margin-top: -12px;
}


.quote {
  margin-left: 1em;
  white-space: nowrap;
}

.pink-bg3 {
  background-color: #e2d6e7;
  padding: 40px 0;
  position: relative;
  overflow: hidden;
}

.Profile-name {
  font-size: 45px;
  font-weight: 900;
  color:#FCBB76;
  font-family: 'Arial Black', sans-serif;
  letter-spacing: 1px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-weight: 900;
  color:#FCBB76;
  font-family: 'Arial Black', sans-serif;
  letter-spacing: 1px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 10px;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-weight: 900;
  color: #FFF59A;
  font-family: 'Arial Black', sans-serif;
  letter-spacing: 1px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 10px;
  text-align: center;
}

.rogo-sub {
  font-size: 15px;
  color: #666;
  font-weight: normal;
  text-align: center;
  margin-top: -5px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

.category {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  padding: 10px;
}

.category img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-bottom: 1px solid #ddd;
  max-width: 330px;
  height: 220px;
}

.bonnyme-title {
  background-color: #fff3a8;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 5px 5px 0 #000;
  font-size: 32px;
  border: 2px solid black;
  margin-left: 5%;
}

.bonnyme-text {
  margin-left: 0; 
  white-space: normal;
  max-width: 600px;
}

.explanation {
  margin-left: 5%;
}

.sub-title {
  font-weight: bold;
  font-size: 20px;
}

.category-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 600px;
  align-items: center;
  margin: 80px auto 0;
}

.category-item {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  gap: 30px;
  flex-wrap: wrap; 
}

.category-item img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.description {
  font-size: 16px;
  color: #000000;
  line-height: 1.5;
  background-color: #ffff;
  opacity: 0.5;
  padding: 10px;
}

.attention {
  font-size: 12px;
}

.attention2 {
  font-size: 12px;
  text-align: center;
}

.btn {
  text-align: center;
  margin-top: 10px;
}

.btn-all {
  display: inline-block;
  padding: 10px 20px;
  background-color: #F7DDE8; 
  color: #333;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 3px 3px 0 #000; 
  transition: all 0.2s ease;
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
}

.btn-all:hover {
  background-color: #f0cbdc; 
  box-shadow: 1px 1px 0 #000;
  transform: translate(2px, 2px); 
}

.btn2 {
  text-align: center;
  margin-top: 10px;
}

.btn-all2 {
  display: inline-block;
  padding: 15px 25px;
  background-color: #F7DDE8; 
  color: #333;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 3px 3px 0 #000; 
  transition: all 0.2s ease;
  margin-top: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
}

.btn-all2:hover {
  background-color: #f0cbdc; 
  box-shadow: 1px 1px 0 #000;
  transform: translate(2px, 2px); 
}


.eye {
  width: 50px;
}



.pop {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 30px;
  padding: 40px 0;
  align-items: center; 
}

.pop-img {
  background-color: white; 
  padding: 16px; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  display: flex; 
  align-items: center;
  justify-content: center;
  max-width: 380px;
  height: auto;
}

.pop-img img {   
  display: block;  
  border-radius: 4px; 
  object-fit: contain;
  width: 100%;
  height: auto;
}

.category-item2 {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  gap: 30px;
  flex-wrap: wrap; 
}

.category-item2 img {
  max-width: 380px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.shopcard-grid {
  gap: 30px;
  margin-top: 40px;
  display: block;
}

.card-box {
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card-box img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.card-box-wide {
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-box-wide img {
  max-width: 100%;
  height: auto;
  display: block;
}

.logo-row, .card-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}


.category-item3 {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  gap: 30px;
  flex-wrap: wrap; 
}

.category-item3 img {
  max-width: 500px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category-item4 {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  gap: 30px;
  flex-wrap: wrap; 
}

.category-item4 img {
  max-width: 600px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.school {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 30px;
  padding: 40px 0;
  align-items: center; 
}

.school img {
  background-color: white; 
  padding: 16px; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  display: flex; 
  align-items: center;
  justify-content: center;
}

.orange img,
.bag img {
  width: 100%;
  height: auto;
  max-width: 300px; 
}

.bag img {
  width: 100%;
  height: auto;
  max-width: 300px; 
  max-height: 500px;
}

.retouching {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;         
  gap: 30px;              
  padding-top: 40px;
  align-items: center;  
}

.before img,
.after img {
  background-color: white; 
  padding: 16px; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}


.arrow,.arrow2 {
  width: 150px;
  height: auto;
  margin-left: 3%;
}

.category-item5 {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  gap: 30px;
  flex-wrap: wrap; 
}

.category-item5 img {
  width: 400px;;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category-item6 {
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  gap: 30px;
  flex-wrap: wrap; 
}

.category-item6 img {
  max-width: 380px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 20px;
  flex-shrink: 0;
  align-items: center;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


footer {
  padding: 30px 0;
  display: flex;
  justify-content: center; 
}

.contact-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  max-width: 1000px;  
}

.contact-text {
  text-align: left;
}

.contact-text h6 {
  font-size: 48px;
  margin-bottom: 10px;
}

.contact-text p {
  margin: 5px 0;
  font-size: 18px;
  line-height: 2;
}

.contact-text  a {
  color: inherit;
  text-decoration: none;
}

.link {
  font-size: 12px;
}

.camera {
  max-width: 100%;
  width: 500px;
  margin-top: 80px;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 9999; 
  padding-top: 60px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}


.fade-up {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1.3s ease-out, transform 1.5s ease-out;
  will-change: transform, opacity;
}

.fade-up.show {
  opacity: 1;
  transform: translateY(0);
}


@media screen and (max-width: 768px) {
  html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: sans-serif;
}


  header {
    flex-direction: column; 
    height: auto; 
    align-items: flex-start;
    padding: 10px;
  }

  .menu {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0;
  }

  .menu li {
    width: 100%;
  }

  .menu > li > a {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px; 
  }

.dropdown-menu {
    top: 100%;
    left: 0;

    width: 200px; 
    background-color: #eaf4fb;
    opacity: 0.7;
    border-radius: 4px;
    z-index: 1001;  
    text-align: center;
  }

  
.dropdown.hover-disabled:hover .dropdown-menu {
  display: none !important;
}

  .some-class {
    margin-left: 0;
    text-align: center;
  }

  .profile-section {
    flex-direction: column; 
  }

  .profile-image img {
    width: 100%;
    margin-left: 0; 
  }

  .profile-text {
    max-width: 100%;
  }

  .row-align {
    flex-direction: column;
    align-items: flex-start;
  }

  .label { 
    margin-bottom: 5px;
  }

  .quote {
    white-space: normal;
  }

  .category-grid {
    grid-template-columns: 1fr;
    max-width: 100%;
    padding: 0 20px;
  }

  .category img {
    height: auto;
    max-width: 100%;
  }

  .bonnyme-title {
    font-size: 24px;
    margin-left: 5%;
    padding: 5px 10px;
  }

  .explanation {
    margin-left: 5%;
    font-size: 13px;
    line-height: 1.6;
    padding-right: 20px;
  }

  .category-item img {
    width: 80%;
    height: auto;
    margin: 20px;
  }

  .bonnyme-text {
    max-width: 100%;
    margin: 0 20px;
  }

  .category-list {
    padding: 10px;
    max-width: 80%;
  }

  .description {
    font-size: 15px;
    line-height: 1.6;
  }

  .btn-all2 {
    font-size: 20px;
    padding: 10px 20px; 
    margin-bottom: 60px;
  }

.category-item2 {
  flex-direction: column;
  align-items: center;
}

.category-item2 img {
  max-width: 90%;
}

.category-item3 img {
  max-width: 80%;
}

.category-item4 img {
  max-width: 85%;
}

.category-item5 img {
  max-width: 90%;
}

.category-item6 img {
  max-width: 80%;
}

  .pop-img {
    max-width: 280px;
    padding: 12px;
  }

  .pop-img img {
    border-radius: 4px;
  }

  .retouching img {
    width: 300px;
    height: auto;
    text-align: center;
  }
  
  .arrow {
    rotate: 90deg;
    margin-left: -10px;
  }

  .arrow2 {
    width: 100px;
    margin-left: 10px;
  }


  .card-box-wide {
    border-radius: 10px;
  }

  .contact-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-text h6 {
    font-size: 32px;
  }

  .contact-text p {
    font-size: 16px;
  }


}

@media screen and (min-width: 600px) and (max-width: 1024px){
.main-visual {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    flex-wrap: nowrap;
  }

  .profile-photo {
    width: 50vw; 
    max-width: 400px; 
    height: auto;
    margin-right: -30px;
  }

  .text-block {
    width: 45%;
    text-align: left;
  }

  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
  }

  .profile-image img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
  }

  .profile-text {
    width: 100%;
    max-width: 600px;
    word-break: break-word;
  }

  .section-block {
    margin-bottom: 20px;
  }

  .like-list {
    padding-left: 20px;
  }  
}



@media screen and (max-width: 1180px) {
  .furigana {
    margin-left: 83px;
  }
  
    .contact-text {
    margin-left: 5%;
  }
}



@keyframes floatDiagonal {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-500px, -500px);
    opacity: 1;
  }
}

.moving-cat {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  animation: move-cat  infinite ;
}

@media screen and (max-width: 768px) {
  .moving-cat {
  position: absolute;
  width: 100px;
  height: auto;
  max-width: 100%; 
  pointer-events: none;
  animation-name: move-diagonal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  }
}

